@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
/*Import Global Compulsory CSS Files*/
@import url(custom.css);

/*Import CSS Plugins*/

@import url(plugins/style-switcher.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

body {
    font-size: 13px;
    color: #333;
    font-size: 13px;
    line-height: 1.6;
   }

a {
    color: #72c02c;
    text-decoration: none;
}



a:focus {
    text-decoration: none;
}

a:hover {
    color: #72c02c;
    text-decoration: underline;
}


#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;
}

#header {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

#menu .item {
    margin: 0px 25px;
    position: relative;
}

#menu .item a {
    color: #626A67;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition-property: 0.4s ease;
}

#menu .item a:hover,
#menu .item a.active {
    color: #72c02c
}

#menu .item a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #72c02c;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


#actions {
    display: flex;
}

#actions .item {
    margin-left: 22px;
}





#banner {
    width: 100%;
    background-image: url("assets/big.jpeg");
    height: 463px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}

#banner .box-left,
#banner .box-right {
    width: 50%;
    border-radius: 10px;
}

#banner .box-left h2 {
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
}

#banner .box-left p {
    color: #D0D0D0;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1a1a;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
}

#banner .box-left button:hover {
    background: orange;
}

#banner .box-right {
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin: 0px 10px;
    animation: animation 3s infinite linear;
}


#banner .box-right img:nth-child(1) {
    animation-delay: 0.5s;
}

#banner .box-right img:nth-child(2) {

    animation-delay: 1s;
}

@keyframes animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

.to-bottom {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}



#wp-products {
    padding-top: 116px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size: 32px;
    color: #626a67;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 290px;
    background: #362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin: 0px auto;
    margin-top: 17px;
}

#list-products .item .stars {

    display: flex;
    margin: 0px auto;
    width: 50%;
}

#list-products .item .name {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 21px;
}

#list-products .item .desc {
    text-align: center;
    color: #626a67;
}

#list-products .item .price {
    text-align: center;
    color: #f42424;
    font-weight: bold;
    margin-top: 20px;
}


.list-page {
    width: 50%;
    margin: 0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin: 0px 15px;
    width: 37px;
    height: 37px;
    background: #362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page .item a {
    color: #fff;
    text-decoration: none;
}


#saleoff {
    width: 100%;
    display: flex;
    height: 322px;
}

#saleoff .box-left,
#saleoff .box-right {
    width: 50%;
}

#saleoff .box-left {
    background: #3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top: 38px;
}

#saleoff .box-left span:nth-child(1) {
    color: #fff;
    font-size: 50px;
}

#saleoff .box-left span:nth-child(2) {
    color: orange;
    font-size: 128px;
}

#saleoff .box-right {
    background-image: url("/assets/off.png");
}


#comment {
    width: 1012px;
    height: 478px;
    margin: 0px auto;
    margin-top: 184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    color: #626a67;
}


#comment-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition: 0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background: #362f2f;
    border-radius: 20px;
    padding-top: 50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top: 13px;
}

#list-comment .item .stars {
    display: flex;
    margin: 0px auto;
    width: 50%;
    margin-top: 32px;
    justify-content: center;
    align-items: center;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color: #fff;
}

#list-comment .item .text {
    padding: 20px 50px;
    color: #fff;

}

#footer {
    width: 100%;
    background: rgb(0, 0, 0, 0.79);
    height: 322px;
    margin-top: 338px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color: #fff;
}

#footer .box .quick-menu {
    margin-top: 40px;

}


#footer .box .quick-menu .item {
    margin-bottom: 12px;

}

#footer .box .quick-menu,
.item a {
    color: #fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
    margin-top: 30px;
}

#footer .box form button {
    background: #362f2f;
    box-shadow: 5px 5px 4px rgba(0, 0, 0.25);
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
}

.who li {
    margin-bottom: 6px;
}

.who li i {
    color: #72c02c;
    font-size: 13px;
    min-width: 15px;
    margin-right: 8px;
    text-align: center;
    position: relative;
}

.who li:hover i,
.who li:hover a {
    color: #777;
}

.who li:hover a:hover {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.totop {
    position: fixed;
    bottom: -40px;
    right: -40px;
    
    padding: 20px;
   
}
.scroll{
    width:100px;
    border-radius: 20px;
}

.container-option {
    background-color: #727471;
    width: 1000px;
    max-width: 100%;
    margin: 50px auto 0;
    border-radius: 10px;
}

.filter {
    padding: 20px;
    display: grid;
    grid-template-columns: 32.666% 32.666% 32.666%;
    column-gap: 1%;
    row-gap: 10px;
}

.filter .item {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter .item select,
.filter .item input,
.filter .item button {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    border-left: 1px solid #ddd;
    outline: none;
}

.filter .item label {
    display: block;
    width: 40%;
    padding: 0 10px;
}

.filter .item.submit button {
    background-color: #72c02c;
    color: #fff;
}

.countResults {
    font-size: xx-large;
    text-align: center;
    padding: 20px;
}

#list {
    padding: 20px;
    display: grid;
    column-gap: 1%;
    grid-template-columns: 32.66% 32.66% 32.66%;
    row-gap: 10px;
}

#list .item img {
    width: 90%;
    height: 300px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 10px;
}

#list .item {
    background-color: #fff5;
    text-align: center;
    border-radius: 10px;
}

#list .item .title {
    font-weight: bold;
}

#list .item .add {

    border: 1px solid #3e628f;
    background-color: #3e628f;
    padding: 10px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;

}

#list .item .add:hover {
    background-color: #72c02c;

}

#header .totalQuantity {
    background-color: red;
    text-align: center;
    border-radius: 50%;
    top: 15px;
    left: 200%;
}

#list .item .price {
    color: #F5B976;
    letter-spacing: 1px;
    padding: 20px;
}

.cart {
    color: #fff;
    position: fixed;
    width: 400px;
    max-width: 80vw;
    height: 100vh;
    background-color: #0E0F11;
    top: 0px;
    right: -100%;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    transition: right 1s;
}

.cart .buttons .checkout {
    background-color: #E8BC0E;
    color: #000;
}

.cart h2 {
    color: #E8BC0E;
    padding: 20px;
    height: 30px;
    margin: 0;
}


.cart .listCart .item1 {
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

}

.cart .listCart img {
    width: 100%;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.cart .listCart .item1 .name1 {
    font-weight: bold;
}

.cart .listCart .item1 .quantity {
    display: flex;
    font-weight: bold;
    color: #72c02c;
    justify-content: end;
    align-items: center;
}

.cart .listCart .item1 .quantity span {
    display: block;
    color: #72c02c;
    width: 50px;
    text-align: center;
}

.cart .listCart {
    padding: 20px;
    overflow: auto;
}

.cart .listCart::-webkit-scrollbar {
    width: 0;
}

.cart .buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.cart .buttons div {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.cart .buttons a {
    color: #fff;
    text-decoration: none;
}

        